*{box-sizing: border-box;}
body{width: 100%}
#post{width: 90%; margin: 0 auto; padding: 40px; font-family: montserrat alternates }
.image{position: relative}
.image img{width: auto; height: 50vh; margin-right:0;}
.intro div{margin: auto; font-size: 2vw; width: 100%; font-family: montserrat alternates}
.intro .col-5{margin-top:0; padding: 0}
#content{width: 100%; padding: 60px; margin: 0 auto;}
#ingredients{width: 100%}
#ingredients ul{padding: 20px; margin: 0 auto;}